In [1]:
import pandas as pd
import numpy as np

permutation(x)
----------
x : int or array_like
    If `x` is an integer, randomly permute ``np.arange(x)``.
    If `x` is an array, make a copy and shuffle the elements
    randomly.

In [9]:
df = pd.DataFrame(np.arange(5*4).reshape(5,4))

In [10]:
df

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [23]:
sampler = np.random.permutation(5)

In [24]:
sampler

array([4, 3, 1, 2, 0])

In [25]:
df.take(sampler)  #indexes

    0   1   2   3
4  16  17  18  19
3  12  13  14  15
1   4   5   6   7
2   8   9  10  11
0   0   1   2   3

In [32]:
np.random.permutation(df)  #array

array([[12, 13, 14, 15],
       [ 4,  5,  6,  7],
       [ 0,  1,  2,  3],
       [16, 17, 18, 19],
       [ 8,  9, 10, 11]])

In [37]:
ufo = pd.read_csv('ufo.csv')

a = ufo.head()
print(a)

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [38]:
np.random.permutation(a)

array([['Willingboro', nan, 'OTHER', 'NJ', '6/30/1930 20:00'],
       ['Ithaca', nan, 'TRIANGLE', 'NY', '6/1/1930 22:00'],
       ['Holyoke', nan, 'OVAL', 'CO', '2/15/1931 14:00'],
       ['Abilene', nan, 'DISK', 'KS', '6/1/1931 13:00'],
       ['New York Worlds Fair', nan, 'LIGHT', 'NY', '4/18/1933 19:00']],
      dtype=object)